.topbar {
  height: 50px;
  width: 100%;
  background-color: #1877f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

@media (max-width: 1000px) {
  .topbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 110px;
  }
}

.topbar .topStart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

@media (max-width: 1000px) {
  .topbar .topStart {
    width: 100%;
    padding: 1rem;
  }
}

.topbar .topStart .topLeft {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.topbar .topStart .topLeft .logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.topbar .topStart .topCenter {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.topbar .topStart .topCenter .searchBar {
  width: 100%;
  height: 30px;
  background-color: white;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topbar .topStart .topCenter .searchBar svg {
  font-size: 25px !important;
  margin-left: 10px;
}

.topbar .topStart .topCenter .searchBar input {
  border: none;
  width: 70%;
  outline: none;
}

.topbar .topEnd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

@media (max-width: 1000px) {
  .topbar .topEnd {
    width: 100%;
  }
}

.topbar .topEnd .topRight {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
}

.topbar .topEnd .topRight .topbarLinks span {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}

.topbar .topEnd .topRight .topbarIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topbar .topEnd .topRight .topbarIcons .topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}

.topbar .topEnd .topRight .topbarIcons .topbarIconItem span {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
}

.topbar .topEnd .topRight .userProfileLogout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topbar .topEnd .topRight .userProfileLogout img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.topbar .topEnd .topRight .userProfileLogout span {
  margin-left: 1rem;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=Topbar.css.map */